{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-4">Welcome to BLog Lite!</h1>
    <p>New to our Blog?</p>
    <hr />
    <p>Join us today and start sharing your thoughts with the world.</p>
    <a class="btn btn-primary btn-lg" href="/signup">Sign Up</a>
    <br />
    <br />
    <p>Already have an account? <a href="/login">Log In</a></p>
    <p>Are you Admin? <a href="/adminsignup">SignUp</a></p>
  </div>
</div>
{% endblock %}
<!-- we can provide other info about the app we are building -->
